/src/target/*
/src/target/.rustc_info.json
/src/target/release/*
/src/target/release/build/*
/src/target/release/.fingerprint/*
/target/release/.fingerprint/*
/src/target/release/workshop
/src/target/release/workshop.d
/target/release/build/*
/target/release/deps/*
/target/release/*
/src/java/*
/target/*
/src/.ipynb_checkpoints
